.dashboard {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.table,
.chart {
  width: 48%;
}

@media (max-width: 500px) {
  .content {
    flex-direction: column;
  }

  .table,
  .chart {
    width: 100%;
  }
}

.rangeInput {
  width: 30%;
  margin-top: 20px;
}
